{
  "openapi": "3.1.0",
  "info": {
    "title": "Stardance API",
    "version": "2.0.0",
    "description": "API for accessing Stardance hackclub project data. All endpoints are read-only and return cached results. When cached data is older than 12 hours, the requested resource is re-scraped synchronously while cascading refreshes run in the background."
  },
  "servers": [
    {
      "url": "https://stardance.jam06452.uk",
      "description": "Stardance API Server"
    }
  ],
  "paths": {
    "/api/v1/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Fetch a paginated list of all projects. Supports optional search query and limit.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100, default: 20)",
            "schema": { "type": "integer", "maximum": 100 }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search projects by title or description",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Project" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Project found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{id}/devlogs": {
      "get": {
        "operationId": "listProjectDevlogs",
        "summary": "List devlogs for a project",
        "description": "Fetch a paginated list of devlogs belonging to a specific project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100, default: 20)",
            "schema": { "type": "integer", "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of devlogs for the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devlogs": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Devlog" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{id}/devlogs/{devlog_id}": {
      "get": {
        "operationId": "getProjectDevlog",
        "summary": "Get a devlog scoped to a project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "devlog_id",
            "in": "path",
            "required": true,
            "description": "Devlog ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Devlog found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Devlog" }
              }
            }
          },
          "404": {
            "description": "Devlog or project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/devlogs": {
      "get": {
        "operationId": "listDevlogs",
        "summary": "List all devlogs",
        "description": "Fetch a paginated list of all devlogs across all projects.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100, default: 20)",
            "schema": { "type": "integer", "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of all devlogs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devlogs": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Devlog" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devlogs/{id}": {
      "get": {
        "operationId": "getDevlog",
        "summary": "Get a devlog by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Devlog ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Devlog found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Devlog" }
              }
            }
          },
          "404": {
            "description": "Devlog not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Fetch a paginated list of all users. Supports optional search query.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100, default: 20)",
            "schema": { "type": "integer", "maximum": 100 }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search users by username or bio",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/User" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{username}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user profile",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "Username (with or without \"@\" prefix)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v2/comments/devlog/{id}": {
      "get": {
        "operationId": "getDevlogComments",
        "summary": "Get all comments for a devlog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Devlog ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments for the devlog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Comment" }
                }
              }
            }
          },
          "404": {
            "description": "Devlog not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v2/comments/project/{id}": {
      "get": {
        "operationId": "getProjectComments",
        "summary": "Get all comments across all devlogs of a project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments for the project (across all of its devlogs)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Comment" }
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v2/users/{username}/projects": {
      "get": {
        "operationId": "listUserProjects",
        "summary": "List projects for a user",
        "description": "Fetch a paginated list of projects belonging to a specific user.",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "Username (with or without \"@\" prefix)",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100, default: 20)",
            "schema": { "type": "integer", "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of the user's projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Project" }
                    },
                    "pagination": { "$ref": "#/components/schemas/Pagination" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "current_page": { "type": "integer" },
          "total_pages": { "type": "integer" },
          "total_count": { "type": "integer" },
          "next_page": { "type": "integer", "nullable": true }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Project ID (from stardance.hackclub.com)"
          },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "username": {
            "type": "string",
            "description": "Author's username (without @)"
          },
          "banner_url": { "type": "string", "nullable": true, "format": "uri" },
          "devlog_count": { "type": "integer" },
          "devlog_ids": { "type": "array", "items": { "type": "integer" } },
          "total_hours": { "type": "number", "format": "float" },
          "followers": { "type": "integer" },
          "demo_url": { "type": "string", "nullable": true, "format": "uri" },
          "sourcecode": { "type": "string", "nullable": true, "format": "uri" },
          "superstar": { "type": "boolean" },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the project was first scraped"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the project data was last updated"
          }
        },
        "required": ["id", "title"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user ID"
          },
          "user_id": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user ID (alias for id)"
          },
          "username": { "type": "string" },
          "display_name": {
            "type": "string",
            "description": "Display name (same as username)"
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL (alias for user_pfp)"
          },
          "devlog_count": { "type": "integer" },
          "banner_url": { "type": "string", "nullable": true, "format": "uri" },
          "user_pfp": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL"
          },
          "bio": { "type": "string" },
          "project_count": { "type": "integer" },
          "project_ids": { "type": "array", "items": { "type": "integer" } },
          "devlog_ids": { "type": "array", "items": { "type": "integer" } },
          "ships": { "type": "integer" },
          "votes": { "type": "integer" },
          "slack_url": { "type": "string", "nullable": true, "format": "uri" },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the user was first scraped"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the user data was last updated"
          }
        },
        "required": ["user_id", "username"]
      },
      "Devlog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Devlog ID (from stardance.hackclub.com)"
          },
          "description": { "type": "string" },
          "image_urls": {
            "type": "array",
            "items": { "type": "string", "format": "uri" }
          },
          "media": {
            "type": "array",
            "description": "Media attachments (derived from image_urls)",
            "items": {
              "type": "object",
              "properties": {
                "url": { "type": "string", "format": "uri" },
                "content_type": { "type": "string", "example": "image/png" }
              }
            }
          },
          "likes": { "type": "integer" },
          "views": { "type": "integer" },
          "duration_seconds": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "comments_count": {
            "type": "integer",
            "description": "Total number of comments on this devlog"
          },
          "project_id": { "type": "integer" },
          "user_id": { "type": "string", "format": "uuid" },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the devlog was first scraped"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the devlog data was last updated"
          }
        },
        "required": ["id"]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Internal comment ID" },
          "body": {
            "type": "string",
            "description": "Comment body (may contain HTML)"
          },
          "user": {
            "nullable": true,
            "oneOf": [{ "$ref": "#/components/schemas/CommentUser" }],
            "description": "Author's public profile. Null when the author has no user record."
          }
        },
        "required": ["id", "body"]
      },
      "CommentUser": {
        "type": "object",
        "description": "Minimal public user profile embedded in a comment.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "username": { "type": "string" },
          "user_pfp": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL"
          }
        },
        "required": ["id", "username"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        },
        "required": ["error"]
      }
    }
  },
  "x-scalar-order": [
    "stardance-api-100/description/introduction",
    "stardance-api-100/GET/api/v1/projects",
    "stardance-api-100/GET/api/v1/projects/{id}",
    "stardance-api-100/GET/api/v1/projects/{id}/devlogs",
    "stardance-api-100/GET/api/v1/projects/{id}/devlogs/{devlog_id}",
    "stardance-api-100/GET/api/v1/devlogs",
    "stardance-api-100/GET/api/v1/devlogs/{id}",
    "stardance-api-100/GET/api/v1/users",
    "stardance-api-100/GET/api/v1/users/{username}",
    "stardance-api-100/GET/api/v2/comments/devlog/{id}",
    "stardance-api-100/GET/api/v2/comments/project/{id}",
    "stardance-api-100/GET/api/v2/users/{username}/projects",
    "stardance-api-100/models"
  ]
}
