<script src={~p"/assets/js/api-reference.js"} defer>
</script>
<script
  id="api-reference"
  type="application/json"
  data-configuration={
    Jason.encode!(%{
      spec: %{url: "https://registry.scalar.com/@jam06452/apis/stardance-api@latest?format=json"}
    })
  }
>
</script>
